*~
#*#
*#
.#*
Raspberry/readSerial
Arduino/build-uno/
Arduino/MakefileOld
SerialServer
Client
*.svd
*.o
/portsRedir.txt
/LabView/builds/
/LabView/Client.aliases
/LabView/Client.lvlps
/ArchiveSystemePrecedent/