*~
#*#
*#
.#*
Raspberry/readSerial
Arduino/build-uno/
Arduino/MakefileOld
SerialServer
*.svd
*.o
/portsRedir.txt
/Client/GUI/builds/
/Client/GUI/Client.aliases
/Client/GUI/Client.lvlps
/ArchiveSystemePrecedent/
/Documentation/Documentation.tex
/Client/CLI/Client